<?xml version="1.0" encoding="utf-8" ?>


<!--I put here the Yara rules to be loaded and the yara.exe path -->

<configuration>




  <appSettings>
    <add key="PathYaraExe" value="C:\Users\razgaou\OneDrive - Itron\Documents\elte\THESIS PREP\tool to create\ELTE_Scanner\Source\Repos\ELTE_Scanner\Elte_detector\Elte_detector\YARAexe\" />
    <add key="YaraRulesPath" value="testRulesPath" />
    <add key="Quarantine" value="PathQuarantine" />
  </appSettings>


  
  
  
  
</configuration>